@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body-padding {
  padding: 12px;
}

.navigation-list {
  text-decoration: none;
  padding: 0;

  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
}

/* .navigation-list  span {
  font-size: 1rem;
} */

.add-passage {
    position: absolute;
    bottom: 1.5rem; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-passage .bp3-button {
    padding: 1rem 1.5rem !important;
}

.center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-passage .passage-btn {
    border-right: 1px solid black;
}

#here-map {
    height: 100vh !important;
}

.map {
    height: 100vh !important;
}

.passage-control-group {
    align-items: center;
    margin-bottom: 1rem;
}

.passage-label {
    width: 25%;
}

.passage-input {
    width: 75%;
}

.login-btn {
  padding: 0 50px !important;
  margin-top: 20px;
}

.register-btn {
  padding: 0 75px !important;
  margin-top: 20px;
}

.no-decoration, .no-decoration:link, .no-decoration:visited, .no-decoration:active, .no-decoration:hover {
  text-decoration: none !important;
  color: black;
}

.header-text {
  font-size: 1.4rem;
}

.responsive-img {
  width: 100%;
}